build
octoprint-tft-bin

# debhelper/dpkg-buildpackage byproducts
debian/.gocache/
debian/.debhelper/
debian/octoprint-tft/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper
