#!/usr/bin/make -f

export DH_VERBOSE := 1

GOPKG := github.com/darksid3r/OctoPrint-TFT
GO_TAGS ?= gtk_3_24
VERSION := $(shell dpkg-parsechangelog -SVersion | sed 's/-.*//')
BUILD_DATE := $(shell date --utc +%Y%m%d-%H:%M:%S)

export GOCACHE := $(CURDIR)/debian/.gocache

%:
	dh $@

override_dh_auto_build:
	go build --tags $(GO_TAGS) \
		-ldflags "\
			-X $(GOPKG)/ui.Version=$(VERSION) \
			-X $(GOPKG)/ui.Build=$(BUILD_DATE)\
		" \
		-o octoprint-tft-bin .

override_dh_auto_install:
	install -Dm755 octoprint-tft-bin debian/octoprint-tft/usr/bin/OctoPrint-TFT
	mkdir -p debian/octoprint-tft/opt/octoprint-tft/
	cp -r styles debian/octoprint-tft/opt/octoprint-tft/

override_dh_auto_test:
	# no tests

override_dh_dwz:
	# dwz chokes on Go's DWARF output ("Found compressed .debug_aranges
	# section"); not useful for a single Go binary anyway.

override_dh_auto_clean:
	dh_auto_clean
	rm -f octoprint-tft-bin
